.sh-table table {
  width: auto; // 解决table-width 渐变拉伸
}

.sh-form {
  border: 1px solid #eee;
}

.sh-form, .container-wrap {
  min-height: 36px; // 为了生成容器最小空间
}
.container-wrap {
  border: 1px solid #eee;
  padding-top: 12px
}
.sh-search-header {
  min-height: auto;
}